

label {
padding-top:5px;
}

#sidebarRow .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

input, h6 {
padding-top:10px;
}

.displayRec{
	background: white;
	border: 1px solid black;
}


.disCol{
	background: white;
	border: 1px solid black;
}

#introContent{
  text-align: center;
}
#introContent button{
  margin:5px;
}

.skiRecs{
  list-style-type: none;
}

.rec-item{
  background: #bcd2e5;
  font-size: 200%;
}
.rec-item{
}
.rec-item p{
  display: inline;
}
