/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


.btn-secondary:hover{
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #ededed;
  border: .05rem solid #fff;

}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  text-shadow: none; /* Prevent inheritance from `body` */
  border: .05rem solid #0069D9;
}

/*
 * Base structure
 */


html,
body {
  height: 100%;
  background-color: #d1e9ff;
}

body {
  display: flex;
  color: #0482ff;
  /*text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  */
}

.navbar-brand{
  font-size: 150%;
}
