.main-content{
  font-size: 200%;
  text-align: center;
  margin-top: 200px;
}

.main-content .btn{
  margin:10px;
  margin-top: 0px;
}


#loginModal,#registerModal{
  color:black;
}

.modal-body input{
  margin: 3px
}