//-Author: Matthew Skogen
extends ../layouts/layout
block append head
  // Our Custom CSS
  link(rel='stylesheet', href='css/cave.css')
  // Scrollbar Custom CSS
  //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css')
    
block vars
  - var currentPage = "cave";
  //- - var algorithmRec = "algorithm"

block sidebar
  // Sidebar
  .col-2#sidebarRow.collapse
    nav#sidebar.w-100.h-100.p-2
      .sidebar-header
        h3 Customize Your Stoke
      form(action='/cave/cavePrefs' method="POST")
        label Pass Held:
        select.form-control(name='pass_held')
          //option None
          option(value="Ikon") Ikon Pass
          option(value="Epic") Epic Local Pass
        label Snow Surface Type:
        select.form-control(name='preferred_snowType')
          option(value="Powder") Powder 
          option(value="Packed Powder") Packed Powder 
          option(value="Machine Made") Machine Made 
          option(value="Machine Groomed") Machine Groomed 
          option(value="Hard Packed") Hard Packed 
          option(value="Spring") Spring 
          option(value="Corn") Corn 
          option(value="Variable") Variable 
          option(value="Wet") Wet 
        label Arrival Time:
        select.form-control(name='preferred_travelTime')
          option(value="ASAP") ASAP
          option(value="No Rush") No Rush
        label Preferred Weather:
        select.form-control(name='preferred_temperature')
          option(value="No Preference") No Preference
          option(value="Cold") Cold
          option(value="Hot") Hot
        br
        button.btn.btn-warning(type="submit") Save



block content
  // Page Content
  // end sidebar
  // actual main page
  .col
    #introContent.row
      .col.mt-2.mb-5
        h1 Welcome to The Cave!
        button#sidebarCollapse.btn.btn-info(type='button' data-toggle="collapse" data-target="#sidebarRow" aria-expanded="false" aria-controls="collapseExample")
          i.fas.fa-align-left
          span Customize your stoke 
        //form(action="/cave/alg" method="get")
        button#algButton.btn.btn-warning(type="button") My Preferences Are Up To Date.. Show me the Gnar!
    .row#recommendations
      .col
        h3 According to our calculations, you will receive maximum shred potential at:
        ul.skiRecs
          //- li.rec-item
          //-   span
          //-     p.m-auto Name: 
          //-     p.m-auto Snowfall 
          //-     p.m-auto Runs open 
          //-     p.ml-auto Pass
block scripts
  
  script.
    $(function(){
      $('#algButton').click(()=>{
        $.getJSON("/cave/alg", function(data){
          data.forEach(function(resort){
            $( ".skiRecs" ).append('<li class="rec-item"><span><p>'+resort.resort_name+': </p><p>'+resort.snowfall.today +'" </p><p>'+resort.runs.open +' runs of '+resort.runs.total+' open </p><p>'+resort.pass[0]+'</p></span></li>');
          });
        });
      });
      // var map;
      // function initMap() {
      // // For now, this is the location of Copper mountain
      // //We will need to figure out how to pull the recommended lat/long from Mongo
      // //and put it in here. PS slash comments are sick, shut up
      // var mtRecommend = {lat: 39.502, lng: -106.151};
      // // The map, centered at our recommendation (CURRENTLY JUST COPPER, #IKONFTW)
      // var map = new google.maps.Map(
      // document.getElementById('map'), {zoom: 8, center: mtRecommend});
      // // The marker, positioned at Uluru
      // var marker = new google.maps.Marker({position: mtRecommend, map: map});
      });
  //- script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC-QwVCYVzGxcwYP1MFAIBEG5Jav0hDNa8&callback=initMap', async='', defer='')
  //- // jQuery Custom Scroller CDN
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js')
  //-   // Google Maps jQuery Library and meta tags
  //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  //- // script that is supposed to expand/collapse the sidebar
