extends ../layouts/layout
block append head
  link(href='/css/index.css', rel='stylesheet')
block content
  .row.justify-content-center.h-75
    .col-md-auto.align-self-center.main-content
      .row.justify-content-center
        h1 Blizzard Kicker
      .row.justify-content-center
        p Welcome to Blizzard Kicker
      .row.justify-content-center
        button.btn.btn-lg.btn-secondary(type="button" data-toggle="modal" data-target="#loginModal") Login

  //This is the login popup
  #loginModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLongTitle', aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title#LoginTitle Login
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        form.form-container.form-signin(method='POST')    
          .modal-body        
              h1.h3.mb-3.font-weight-normal Please sign in
              label.sr-only(for='inputEmail') Email address
              input#inputEmail.form-control(name='email', type='email', placeholder='Email address', required='', autofocus='')
              label.sr-only(for='inputPassword') Password
              input#inputPassword.form-control(name='pass', type='password', placeholder='Password', required='')
              .checkbox.mb-3
                label
                  input(type='checkbox', value='remember-me')
                  |  Remember me
          .modal-footer
            button.btn.btn-primary(type='submit') Sign in
            button.btn.btn-secondary(type="button" data-dismiss="modal") Close



