<!DOCTYPE html>
html(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    title About BlizzardKicker
  body
    <p align="center"> BlizzardKicker is a tool that can help you get the most out of your shredding experience. Based on your preferences and the current conditions, you will be given a recommendation for the best ski resort to maximize your time on the mountain. This was created by a team of six students at the Univeristy of Colorado, Boulder, so you know it's the real deal. <br><br>Simply register at the login link on the home page, input your preferences, get our recommended mountain information, and get out there! </p>
    <p align="center"><b> We'll see you on the mountain. </b></p>
