<!--Kamiar Coffey-->
<!DOCTYPE html>
<html>
<head>
<title>Existing User Login</title>
<!--Custom Theme files-->

<link href="styles/css/index.css" rel="stylesheet" type="text/css" />

</head>
<body>
	<div class="form-registration">
		<h2>Login</h2>
		<div class="form-registration">
			<form action="/" method="post">
				<input type="text" name="existingEmail" placeholder="Registered email" required="">
				<input type="password" name="existingPassword" placeholder="Password" required="">
				<div class="tp">
					<input type="submit" value="Login">
				</div>
			</form>
		</div>

</body>
</html>
