extends ../layouts/layout
block append head
  link(href='/css/login.css', rel='stylesheet')
block vars
  - var currentPage = "prefs"
block content
  .row.justify-content-center.loginRow
    .col-md-5.align-self-center
      form.form-container.form-signin(action='userPrefs' method='POST')
        .form-body
          h1.mb-3.font-weight-normal Change your prefs
          .dropdown
            button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Select Passes
            .dropdown-menu(aria-labelledby='dropdownMenuButton')
              button.dropdown-item(type='button' onClick="checkToggler(this, '#ikonCheck')" ) Ikon Pass
              button.dropdown-item(type='button' onClick="checkToggler(this, '#epicCheck')" ) Epic Pass
          //- Hidden area for check boxes
          #hiddenform(hidden)
            input#ikonCheck(type="checkbox" value="Ikon" name="pass[]")
            input#epicCheck(type="checkbox" value="Epic" name="pass[]")
          // label(for='inputPassword') Password
          // input#inputPassword.form-control.mb-3(name='password', type='password', placeholder='Password', required='')
          p#errorMessage= error
          button.btn.btn-primary(type='submit') Submit

block scripts
  script.
    //-toggles the view and the checked functionallity
    var checkToggler = function(currentButton,target){
      $(target).prop('checked', function(i,val){
        return !val
      }); 
      $(currentButton).toggleClass('active'); 
      $(document).on('click', '.dropdown-menu', function (e) {
        e.stopPropagation();
      });
    }