extends ../layouts/layout
block append head
  link(href='/css/skiViewer.css', rel='stylesheet')

block vars
  - var currentPage = "viewData"

block content
  if registrations.length
    table
      tr
      th Email
      th Username
      th Password
      each registration in registrations
        tr
          td= registration.email
          td= registration.username
          td= registration.password
  else
    p No registrations yet :(

  
